body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 40px;
    margin-left: 37px;



}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,red);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;

}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.box-shadow{
    box-shadow: 23px 19px 30px gray;
    border-radius: 5px;
    height: 80%;
    margin-left: 55px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
    background: white;
    
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}