body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 40px;
    margin-left: 37px;



}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, red);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}
.link-button:hover{
    background-image: thistle, yellow;
}
.second-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    

}
.second-part img{
    width: 100%;
}
.second-background{
    background-image: url("images/dream-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    color: orange;
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 23px;
}
.box-shadow:hover{
    box-shadow: 13px 13px 46px rgb(55, 0, 255);
}
